{% load static %}

<style>
    .footer-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa; /* Light gray background for better visibility */
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Add a slight shadow for separation */
        margin: 0; /* Ensure no margin is causing the footer to not extend fully */
    }

    .footer-container h6,
    .footer-container .nav-item a {
        font-size: 14px;
        color: #6c757d; /* Muted text color */
        text-decoration: none;
    }

    .footer-container .nav-footer {
        list-style: none;
        padding: 0;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .footer-container .btn-social {
        display: inline-flex;
        align-items: center;
        padding: 5px 10px;
        font-size: 14px;
        color: #6c757d;
    }

    .footer-container .btn-social .fa {
        margin-right: 8px;
    }
</style>

<div class="footer-container">
    <h6>© Altered Datum LLP, Inc. All rights reserved. | <a href="https://arpansahu.me" class="font-weight-bold" target="_blank">arpansahu.me</a></h6>

    <ul class="nav-footer">
        <li class="nav-item">
            <a class="btn btn-social btn-github" href="https://github.com/arpansahu/altered_datum_api" target="_blank">
                <span class="fa fa-github"></span> Clone This Repo
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-social btn-github" href="https://github.com/arpansahu" target="_blank">
                <span class="fa fa-github"></span> Follow on GitHub
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-social" href="https://arpansahu.me" target="_blank">
                <span class="fa"><img src="{% static 'arpansahu-footer.png' %}" width="13" height="13" alt="Portfolio"></span> Portfolio
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/arpansahu" target="_blank">
                <span class="fa fa-linkedin"></span> Follow on LinkedIn
            </a>
        </li>
    </ul>
</div>
