{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- Sentry SDK for JavaScript -->
    <script src=<script src="https://js.sentry-cdn.com/6ffc1e45e4c1bce939c708fbc5206ad4.min.js" crossorigin="anonymous"></script>
    <title>Altered Datum Api</title>

    {% include 'snippets/header.html' %}
</head>
<body>

    <!-- Body -->
    <div class="container-fluid d-flex flex-column min-vh-100">
        <main class="flex-fill">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-light mt-auto py-3">
        <div class="container text-center">
            {% include 'snippets/footer.html' %}
        </div>
    </footer>

    {% block javascript %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}
    <!-- End Body -->

</body>
</html>